PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/codemind?schema=app
KRATOS_PUBLIC_URL=http://localhost:4433
COLLAB_PORT=1234
E2B_API_KEY=e2b_6d32d047802e4ece95d03e9c94e7b4034aa4c7f9
E2B_REQUEST_TIMEOUT_MS=30000
E2B_RUN_TIMEOUT_MS=15000
E2B_SANDBOX_TIMEOUT_MS=60000
LLM_API_KEY=sk-tfOiZPZ5Opl740HlOeN0NTqJ5KsxKViYZsTz9zEoqdLLynd8fVVpLVqxrFmB
LLM_API_BASE_URL=https://proxy.gen-api.ru/v1
LLM_MODEL=grok-4-1