POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=codemind
POSTGRES_PORT=5432
KRATOS_PUBLIC_PORT=4433
KRATOS_ADMIN_PORT=4434
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
KRATOS_DSN=postgres://postgres:postgres@postgres:5432/codemind?sslmode=disable&max_conns=20&max_idle_conns=4
